body {
  margin:0px; 
  background: #2c9b86
}
.flex-container {
  display: flex;
  gap: 60px;           
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;  
  margin: 0 auto;
}
.flex-item {
  background-color: #efefef;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper{
  align-items: center;
  justify-content: center;
  width: 430px;
  background: #efefef;
  border-radius: 10px;
}
.wrapper h1{
  font-size: 24px;
  font-weight: 1000
}